.aboutBanner {
    background-color: rgb(137, 207, 240);
}


.form-control {
  max-width: 100%;
  display: block;
}

.about-us-section{
  min-height: 40vh;
}

.about-us-submit-btn {
  background-color: #9CA4FF;
}

.about-us-submit-btn:hover {
  background-color: #828BCF;
}

.about-us-col {
  background-color: #2E3869;
}
