.aboutBanner {
    background-color: rgb(137, 207, 240);
}


.form-control {
  max-width: 100%;
  display: block;
}


.search-btn {
  background-color: rgb(25, 30, 59);
  color: white;
}

.search-btn:hover {
  background-color: rgba(25, 30, 59, 0.8);
}

