.header {
  background-color: rgb(25, 30, 59);
  color: white;

  a {
    color: white;

    img {
      width: 150px;
      height: 150px;
    }
  }

  a:hover {
    color: rgba(255, 0, 0, 0.7);
  }
}

.footer {
  background-color: rgb(25, 30, 59);

  color: white;

  img {
    width: 150px;
    height: 150px;
  }
}

.aboutBanner {
    background-color: rgb(137, 207, 240);
}


.form-control {
  max-width: 100%; 
  display: block;
}


.search-btn {
  background-color: rgb(25, 30, 59);
  color: white;
}

.search-btn:hover {
  background-color: rgba(25, 30, 59, 0.8);
}

.about-us-section{
  min-height: 40vh;
}

.about-us-submit-btn {
  background-color: #9CA4FF;
}

.about-us-submit-btn:hover {
  background-color: #828BCF;
}

.about-us-col {
  background-color: #2E3869;
}