.about-us-section{
    min-height: 40vh;
}

.about-us-submit-btn {
    background-color: #9CA4FF;
}

.about-us-submit-btn:hover {
    background-color: #828BCF;
}

.about-us-col {
    background-color: #2E3869;
}
