.employee-section {
    min-height: 40vh;
}
.jph-employee-accordion{

    .accordion-button {
        font-weight: 600;
        color: black;

    }

    .accordion-body {
        background-color: #F4FFED;
    }

    .employee-photo{
        max-width: 200px;
        height: auto;
        border: 3px solid #fff;
    }
}
