.header {
    background-color: rgb(25, 30, 59);
    color: white;

    a {
        color: white;

        img {
            width: 150px;
            height: 150px;
        }
    }

    a:hover {
        color: rgba(255, 0, 0, 0.7);
    }
}

.footer {
    background-color: rgb(25, 30, 59);

    color: white;

    img {
        width: 150px;
        height: 150px;
    }
}

.jph-employee-accordion{

    .accordion-button {
        font-weight: 600;
        color: black;

    }

    .accordion-body {
        background-color: #F4FFED;
    }

    .employee-photo{
        max-width: 200px;
        height: auto;
        border: 3px solid #fff;
    }


}

@media (min-width: 768px) {
    .jph-employee-accordion .col-md-8 {
        padding-left: 80px;
    }
}