/* Search Banner */

.search-btn {
  background-color: rgb(25, 30, 59);
  color: white;
}

.search-btn:hover {
  background-color: rgba(25, 30, 59, 0.8);
}


/* Hotel Cards */

.select-room-btn {
  background-color: rgb(25, 30, 59);
  color: white;
  margin-top: 5px;
}

.select-room-btn:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
